
* {
	color: #000;
	font-family: arial;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

h1 {
	font-family: Times;
	font-size: 30px;
}

h3 {
	font-size: 22px;
}

h4{
	border-bottom: 1px solid #ccc;
	font-size: 20px;
}

li {
	list-style: none;
}

.about {
	background-color: #ccc;
	padding: 30px 300px;
}

.about h3 {
	margin-bottom: 20px;
}

.about p {
	width: 70%;
}

.article-title {
	color: #418dba;
	font-weight: bold;
}

.button-area {
	margin-top: 20px;
	padding: 40px 0;
	background-color: #ddd;
	margin: 20px auto;
}

.button-read-more {
	color: #fff;
	background-color: #418dba;
	float: right;
	padding: 15px;
}

.button-about {
	border-radius: 8px;
	color: #fff;
	background-color: #418dba;
	padding: 15px;
	margin: 0 9.5%;
}

.header-banner {
	background: url(../img/banner.jpg) no-repeat;
	background-size: 100%;
	height: 765px;
	width: 100%
}

.link-read-more{
	color: #418dba;
	margin-top: 20px;
}

.link-read-more:after {
    content: " > ";
    vertical-align: middle;
}

.nav-item-active {
	background-color: #bbb;
}

.nav-logo img{
	height: 100px;
	left: 420px;
	position: absolute;
	top: 4px;
	width: 100px;
}

.nav-main {
	background-color: #ccc;
	width: 100%;
}

.nav-main li {
	display: inline-block;
	margin: 0 -3px;
	text-transform: uppercase;
	padding: 20px;
	vertical-align: middle;
}

.nav-main ul {
	max-width: 700px;
	margin: 0 30%;
}

.news article {
	border-bottom: 1px solid #ccc;
}

.map{
	padding: 30px 250px; 
	text-align: center;
}

.slider-map li {
	display: inline-block;
}
